<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/file_upload.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/csv_header_parser.css')}}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/file_upload.js')}}"></script>
<script src="{{url_for('static', filename='js/csv_header_parser.js')}}"></script>
<script src="{{url_for('static', filename='js/api.js')}}"></script>
<script src="{{url_for('static', filename='js/dashboard-events.js')}}"></script>

<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>

<body>
    <div class="container p-5">
        <div class="card">
            <img class="p-5" src="{{url_for('static', filename='images/regional-australia-bank-logo.webp')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Loan Approval - Customer Follow Up List</h3>

                <div class="card">
                    <div class="card-body">
                        <table id="details-table" class="form-table">
                            <tr>
                                <td>
                                    Attach Customer Data
                                </td>
                                <td>
                                    <form id="data-form">
                                        <div class="file-upload">
                                            <button type="button" class="btn btn-secondary">
                                                  Browse
                                            </button>
                                            <input id="csv-input" type="file" class="csv-parser" name="file">
                                            <p>No file selected.</p>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr class="google-analytics checking">
                                <td>Checking Google Analytics Setup</td><td><img src="{{url_for('static', filename='images/ajax-loader.gif')}}"></td>
                            </tr>
                            <tr class="google-analytics getting" style="display:none">
                                <td>Getting Google Analytics Profiles</td><td><img src="{{url_for('static', filename='images/ajax-loader.gif')}}"></td>
                            </tr>
                            <tr class="google-analytics not-configured" style="display:none">
                                <td>Google Analytics</td>
                                <td>
                                    <form id="cred-form">
                                        <div class="file-upload">
                                            <button id="credential-btn" type="button" class="btn btn-warning">
                                                  Attach Credentials
                                            </button>
                                            <input id="credential-upload" type="file" name="file">
                                            <span class="details">(Optional)</span>
                                            <img class="ajax-loader" src="{{url_for('static', filename='images/ajax-loader.gif')}}" style="display: none">
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr class="google-analytics connected" style="display:none">
                                <td>
                                    Connect to Google Analytics
                                </td>
                                <td>
                                    <div id="google-analytics-select" class="dropdown">
                                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Please Select
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button id="build-button" class="btn btn-success btn-block" style="display: none">BUILD MODEL</button>
                        <br/>
                        <table class="table table-striped csv-parser">
                            <thead>
                                <th>Field Name</th>
                                <th>Data Type</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="data-member">[[field_name]]</td>
                                    <td>
                                        <div class="dropdown">
                                          <button class="btn btn-secondary btn-small dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select data type
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" value="-1">Exclude</a>
                                                <a class="dropdown-item" href="#" value="0">Contact Details</a>
                                                <a class="dropdown-item" href="#" value="1">Numeric</a>
                                                <a class="dropdown-item" href="#" value="2">Percentage</a>
                                                <a class="dropdown-item" href="#" value="3">Value Set</a>
                                                <a class="dropdown-item" href="#" value="4">Yes/No</a>
                                                <a class="dropdown-item" href="#" value="5">String</a>
                                                <a class="dropdown-item" href="#" value="6">Response Variable</a>
                                          </div>
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>


            </div>
        </div>

        <br/>
         <div id="results-card" class="card" style="display: none">
                <div class="card-body">
                    <table id="results-table" class="table table-striped">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
         </div>

    </div>
</body>